body {
    background-color: rgb(68, 68, 68);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 5fr;
    width: 99vw;
    height: 98vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    align-items: center;
}

.projectSelect, .general {
    width: 150px;
    padding: 10px 20px;
    margin: 10px;
}

.addButton {
    padding: 10px;
}

.main {
    display: flex;
    justify-content: center;
}

.todoButton {
    align-self: start;
    padding: 10px 20px;
}

.todoPopup , .projectPopup{
    position: absolute;
    align-self: center;
    border: 1px solid black;
    background-color: gray;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    opacity: 0%;
}

.todoPopup:active, .projectPopup:active {
    opacity: 100%;
}